@page "/orders"
@using OrderTracker.Client.Components
@using OrderTracker.Shared.Models
@inject HttpClient Http

@if (orders == null)
{
    <div class="rz-m-12">
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </div>
}
else
{
    <RadzenDataList PageSize="2" WrapItems="true" AllowPaging="true" Data="@orders" TItem="Order">
        <Template Context="order">
            <OrderItem order=@order/>
        </Template>
    </RadzenDataList>
}

@code {
    private List<Order>? orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await Http.GetFromJsonAsync<List<Order>>("Order");
    }
}